<h1>Edit page</h1>
<div class="container">
  <div class="products">
  <p>Products</p>
  <table class="table table-striped ">
    <thead>
    <tr>
      <th scope="col" style="width:10%">ID</th>
      <th scope="col" style="width:20%">Name</th>
      <th scope="col" style="width:10%">Price</th>
      <th scope="col" style="width:10%">Stock</th>
      <th scope="col" style="width:20%">CategoryId</th>
      <th scope="col" style="width:10%">Description</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productss;let i=index">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.price}}</td>
      <td>{{product.categoryId}}</td>
      <td>{{product.description}}</td>
      <td><a class=" dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="showM1(product.id)"><i class="fas fa-pen"></i> Edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="deleteProduct(product.id)"><i class="fas fa-eraser"></i> Delete</a>
        </div>
      </td>


    </tr>


    </tbody>
  </table>

  </div>




</div>
<app-edit-product-modal #editProductModal (change)="changeE($event)" ></app-edit-product-modal> 
